
/* google font here */
.open-sans {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* navbar style here */

.dark-2{
    color: #474747;
}


.text-primary{
    color: #FD6E0A;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 140px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav li a{
    text-decoration: none;
    font-size: 25px;
}

.btn-primary{
    background-color: #FD6E0A;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 8px;
}

/* banner style here */

.banner{
    display: flex;
    justify-content: space-between;
}

.banner-content{
    max-width: 580px;
    margin: 0 120px 0 120px;
}

.banner-grettings{
    font-size: 45px;
    font-weight: 400;
}

.banner-title{
    font-size: 85px;
    font-weight: bold;
}

.banner-desc{
    font-size: 20px;
    font-weight: 300;
    color: #474747;
}

.banner-profile-image{
    width: 580px;
}